*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:where(html) {
  color-scheme: light dark;
  hanging-punctuation: first allow-end last;
  interpolate-size: allow-keywords;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

:where(html.translated-rtl) {
  direction: rtl;
}

@media (prefers-reduced-motion: reduce) {
  :where(html) {
    scroll-behavior: auto;
  }
}

:where(body) {
  min-block-size: 100svb;
  min-inline-size: 300px;
}

:where(canvas, img, picture, svg, video) {
  block-size: auto;
  border: none;
  display: block;
  max-inline-size: 100%;
}

:where(button, input, progress, select, textarea) {
  appearance: none;
  background: transparent;
  border: none;
  color: inherit;
  font: inherit;
  hanging-punctuation: none;
  line-height: inherit;
  text-align: start;
  touch-action: manipulation;
}

:where(button) {
  cursor: pointer;
  user-select: none;
}

:where(textarea) {
  resize: vertical;
}

:where(textarea:not([rows])) {
  field-sizing: content;
}

:where(fieldset, iframe) {
  border: none;
}

:where(p, li, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
  text-wrap: pretty;
}

:where(abbr[title]) {
  border: none;
  text-decoration: none;
}

:where(cite) {
  font-style: inherit;
}

:where(small) {
  font-size: inherit;
}

:where(li, ol, ul) {
  list-style: none;
}

:where(dialog, [popover]) {
  background: transparent;
  border: none;
  color: inherit;
  margin: auto;
  max-block-size: none;
  max-inline-size: none;
  position: fixed;
}

:where([popover]) {
  inset: auto;
}

:where(dialog:not([open], [popover]), [popover]:not(:popover-open)) {
  display: none;
}

:where([hidden]:not([hidden='until-found'])) {
  display: none !important;
}

.poppins-light {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.changa-one-regular {
  font-family: 'Changa One', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.changa-one-regular-italic {
  font-family: 'Changa One', sans-serif;
  font-weight: 400;
  font-style: italic;
}

body {
  margin: 0;
  background: #1f1f1f;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  background: #2f2f2f;
  box-shadow: 0 0px 50px black;
}
